.product-management-list {
  .missing-product{
    background-color: var(--color-error-300);
  }

  &__image-container{
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #DDD
  }
  img{
    object-fit: contain;
  }
  &__product{
    align-items: center;
    justify-content: stretch;
  }
  .quantity-error{
    color: var(--color-error-500);
  }
}
