.sale-report-element {
 display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  &__amount{
    &__canceled{
      color: var(--color-error-500);
      text-decoration: line-through;
    }
    &__success{
      color: var(--color-success-500);
    }
  }
  &__highlight{
    border-color: green;
    border-width: 2px;
  }
}
