body {
  background-color: $color-background-secondary;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px $color-background-secondary inset;
}

html,
body,
div#__next {
  min-height: 100vh;
}

html {
	scroll-behavior: smooth;
}
.pagebreak {
  display: block;
  min-height: 1px;
}

@media print {
  .pagebreak {
    clear: both;
    page-break-after: always;
    break-after:page;
  }
}
