.sidebar-manager {
  &__overlay {
    display: none;
  }

  &__sidebar {
    padding-bottom: $spacing-sm;
  }

  .sidebar__close {
    display: none;
  }

  .sidebar-item--is-active {
    color: $color-primary-500;
  }
}

$breakpoint-lg-fix: $breakpoint-lg - 1;
@media (max-width: $breakpoint-lg-fix) {
  .sidebar-manager {
    transition: transform 0.2s ease;

    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 600;
      width: 100vw;
      height: 100vh;
      background: $color-action-disabled-background;
      backdrop-filter: blur(1px);
    }

    &__sidebar {
      position: fixed;
      top: 0;
      z-index: 601;
      min-width: 320px;
      max-height: 100%;
      overflow-y: auto;
      transition: transform 0.2s ease;
      transform: translateX(-100%);
    }

    .sidebar__close {
      display: flex;
    }
  }

  .sidebar--is-open {
    max-height: 100vh;
    overflow: hidden;

    .sidebar-manager {
      top: 0;
      left: 0;

      &__overlay {
        display: block;
      }

      &__sidebar {
        transform: translateX(0%);
      }
    }
  }
}

// TODO: remove this rule when mars is updated
.theme-dark {
  .sidebar-manager {
    .sidebar {
      --color-link-sidebar: var(--color-neutral-500);
    }
  }
}
